{% extends 'base.html.twig' %}

{% block meta %}
    <meta
        name="description"
        content="{{ page is defined ? page.description : config_getter.get.siteDescription }}">
    <meta name="keyword" content="gestion privée patrimoine lyon">
    <!-- open graph -->
    <meta property="og:title" content="{{ config_getter.get.siteTitle }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url('page_home') }}">
    <meta property="og:image" content="{{ app_base_url }}android-chrome-512x512.png">
    <!-- end open graph -->
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('page') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('page') }}
{% endblock %}

{% block header %}
    {{ render(controller('App\\Controller\\MenuController::get', {name: 'main_menu'})) }}
{% endblock %}

{% block page_navigation %}
    {% if page is defined and page.isHomepage %}
        <nav class="navbar is-primary page-navigation" role="navigation" aria-label="secondary navigation">
            <div class="navbar-menu">
                <div class="navbar-start">
                    {% for webPage in webPages %}
                        <a class="navbar-item" href="#{{ webPage.slug }}">
                            {{ webPage.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% block page_header %}
    <div
        class="page-title-container{% if page.header %} has-header{% endif %}{% if page.isHomepage %} has-page-navigation{% endif %}"
        {% if page.header %}style="background-image: url({{ asset(page.header.publicPath) }})"{% endif %}>
            <h1 class="title is-1">{{ page.title }}</h1>
    </div>
{% endblock %}

{% block footer %}
    {{ render(controller('App\\Controller\\FooterController::pageFooter')) }}
{% endblock %}
