{% extends 'page/base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block main %}
    {% for webPage in webPages %}
        <div class="homepage-block is-relative">
            <div
                id="{{ webPage.slug }}"
                class="anchor">
            </div>
            <div
                class="homepage-block-background"
                {% if webPage.header %}
                    style="background-image: url({{ asset(webPage.header.publicPath) }});"
                {% endif %}
            >
            </div>
            <div class="homepage-block-content">
                <h2 class="subtitle is-2">
                    {{ webPage.title }}
                </h2>
                <p>{{ webPage.description|nl2br }}</p>
                <div class="block mt-3">
                    <a
                        class="link is-hoverable"
                        href="{{ path('page_show', {'slug': webPage.slug}) }}">
                        En savoir plus...
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="section contact">
        <div class="container">
            <h2 class="subtitle is-2 is-centered is-uppercase">Contactez nous !</h2>
            {{ include('contact/_form.html.twig', {form: contactForm}) }}
        </div>
    </div>
{% endblock %}
