{% extends 'page/base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="section">
            {{ page.content|editorjs|raw }}
        </div>
    </div>
{% endblock %}
