{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}Mon compte{% endtrans %}{% endblock %}

{% block main %}
    <section class="section">
        <div class="container">
            <h1 class="title is-1">{% trans %}Mon compte{% endtrans %}</h1>
            {{ form(form) }}
        </div>
    </section>
{% endblock %}
