@keyframes horizontal-loader {
    0% {
        left: 0;
        right: 20px;
        width: 20px;
    }

    25% {
        width: 80px;
    }

    50% {
        right: 0;
        left: calc(100% - 20px);
        width: 20px;
    }

    75% {
        width: 80px;
    }

    100% {
        left: 0;
        right: 20px;
        width: 20px;
    }
}
