// @use "editor/main" as editor;

// @use "abstracts/colors";

// vendors
@use "vendors/bulma";

// base
@use "base/typography";
// @use "base/utils";

// layout
@use "layout/navbar";

// components
@use "components/homepage-block";
// @use "components/document-block";
// @use "components/file-input";
// @use "components/flash";
// @use "components/loader";
// @use "components/modal";
// @use "components/page-element";
// @use "components/page-title";
// @use "components/tabs";
// @use "components/tree";

// @use "components/editor/index";


// pages

// themes


/*
 * Editor styles
 */
// @use "editor/buttons";

// @import "./global.scss";
// @import "./_variables_back.scss";
// @use "~bulma/bulma";

// .menu-page {
//     border: 1px solid grey;
// }

// .can-be-deleted {
//     transition: all 0.5s ease;
// }

// .is-deleting {
//     transition: all 0.5s ease;
//     background-color: grey!important;
//     opacity: 0;
// }


// // editor ----------------------------------------------------------------------
// .page-editor__config {
//     position: fixed;
//     background-color: $light;
//     z-index: 100;
// }

// .page-edition {
//     max-width: 800px;
//     margin: 0 auto;
// }

// .textarea-input {
//     overflow: hidden;
//     resize: none;
// }

// #pageTitle {
//     text-align: center;

//     label {
//         display: none;
//     }

//     .is-empty {
//         color: grey;
//     }

//     textarea {
//         border: none;
//         text-align: center;
//         font-size: 2.5em;
//         width: 100%;
//         box-shadow: none;

//         &:focus {
//             outline: none;
//             // box-shadow: none;
//         }
//     }
// }

// // #pageContent {
// //     padding-top: 80px;
// // }

// .ce-settings {
//     left: -1px;
// }

// .ce-block {
//     margin: 30px 0;
// }

// .codex-editor__redactor {
//     font-size: 1.3em;
// }

// .ce-block__content {
//     max-width: none;
// }

// .ce-toolbar__content {
//     max-width: none;
// }

// .editor-image {
//     .caption {
//         border: none;
//     }
// }

// .slug-output {
//     font-size: 0.9em;
// }

// .page-config {
//     position: fixed;
//     width: 100%;
//     z-index: 10;
// }


// .editor-action-button {
//     // @include editor.action-button;
// }




// .image-grid-image-container {
//     padding: 15px;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     height: 100%;

//     .image-grid-image-caption {
//         width: 100%;
//     }

//     .image-grid-image-wrapper {
//         display: flex;
//         align-items: center;

//         .image-grid-image {
//             width: auto;
//             max-height: 100%;
//             padding-bottom: 20px;
//             margin: auto;
//         }
//     }
// }
