{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}Menus{% endtrans %}{% endblock %}

{% block main %}
    <section class="section">
        <div class="container">
            <h1 class="title is-1">{% trans %}Menus{% endtrans %}</h1>
            <p class="block">{% trans %}Éditez les menus du site.{% endtrans %}</p>
            <div class="block content">
                {% for tree in trees %}
                    {{
                        tree|tree({
                            list: {
                                class: 'tree',
                                'data-controller': 'common--sortable'
                            }
                        })|raw
                    }}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
