<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('admin') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('admin') }}
        {% endblock %}
    </head>
    <body class="has-navbar-fixed-top is-flex is-flex-direction-column">
        <header>
            {% block header %}
                <nav
                    class="navbar is-fixed-top is-primary"
                    role="navigation"
                    data-controller="common--burger"
                    aria-label="main navigation">
                    <div class="navbar-brand">
                        <a
                            class="navbar-item"
                            href="{{ path('page_home') }}"
                            target="_blank"
                            rel="noopener noreferrer"
                            title="{% trans %}Voir le site{% endtrans %}">
                            <img src="{{ asset('/build/static/image/logo-backoffice.png') }}">
                        </a>

                        <a
                            role="button"
                            class="navbar-burger"
                            aria-label="menu"
                            aria-expanded="false"
                            data-common--burger-target="burger"
                            data-action="click->common--burger#toggleMenu">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>

                    <div
                        data-common--burger-target="menu"
                        class="navbar-menu">
                        <div class="navbar-start">
                            {% set route = app.request.get('_route') %}
                            {# <a class="navbar-item is-tab{% if route == 'admin' %} is-active{% endif %}" #}
                            {#    href="{{ path('admin') }}"> #}
                            {#     <span class="icon mr-2"> #}
                            {#         <i class="fas fa-home"></i> #}
                            {#     </span> #}
                            {#     {% trans %}Accueil{% endtrans %} #}
                            {# </a> #}
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link{% if route|str_contains('admin_page') or route|str_contains('admin_sitemap') %} is-active{% endif %}"
                                   href="{{ path('admin_page_list') }}">
                                    <span class="icon mr-2">
                                        <i class="fas fa-book"></i>
                                    </span>
                                    {% trans %}Contenu{% endtrans %}
                                </a>
                                <div class="navbar-dropdown">
                                    <a class="navbar-item{% if route == 'admin_page_list' %} is-active{% endif %}"
                                       href="{{ path('admin_page_list') }}">
                                        <span class="icon mr-2">
                                            <i class="fas fa-copy"></i>
                                        </span>
                                        {% trans %}Pages{% endtrans %}
                                    </a>
                                    <a class="navbar-item{% if route == 'admin_sitemap' %} is-active{% endif %}"
                                       href="{{ path('admin_sitemap') }}">
                                        <span class="icon mr-2">
                                            <i class="fas fa-sitemap"></i>
                                        </span>
                                        {% trans %}Plan du site{% endtrans %}
                                    </a>
                                </div>
                            </div>
                            <a class="navbar-item is-tab{% if route == 'admin_asset_list' %} is-active{% endif %}"
                               href="{{ path('admin_asset_list') }}">
                                <span class="icon mr-2">
                                    <i class="fas fa-photo-video"></i>
                                </span>
                                {% trans %}Médias{% endtrans %}
                            </a>
                            <a class="navbar-item is-tab{% if route == 'admin_contact_list' %} is-active{% endif %}"
                               href="{{ path('admin_contact_list') }}">
                                <span class="icon mr-2">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                {% trans %}Messages reçus{% endtrans %}
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="navbar-item is-tab{% if route == 'admin_config_edit' %} is-active{% endif %}"
                                   href="{{ path('admin_config_edit') }}">
                                    <span class="icon mr-2">
                                        <i class="fas fa-wrench"></i>
                                    </span>
                                    {% trans %}Configuration du site{% endtrans %}
                                </a>
                            {% endif %}
                        </div>
                        <div class="navbar-end">
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link{% if route == 'admin_account_edit' %} is-active{% endif %}"
                                   href="{{ path('admin_account_edit') }}">
                                    <span class="icon mr-2">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    {{ app.user }}
                                </a>
                                <div class="navbar-dropdown">
                                    <a class="navbar-item{% if route == 'admin_account_edit' %} is-active{% endif %}"
                                       href="{{ path('admin_account_edit') }}">
                                        {% trans %}Mon compte{% endtrans %}
                                    </a>
                                    <hr class="navbar-divider">
                                    <a class="navbar-item"
                                       href="{{ path('app_logout') }}">
                                        {% trans %}Déconnexion{% endtrans %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            {% endblock %}
        </header>

        <main class="is-flex-grow-1 is-relative">
            {{ include('common/_flash.html.twig') }}
            {% block main %}{% endblock %}
        </main>

        <footer class="footer">
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
</html>
