{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block main %}
    <section class="section">
        <h1 class="title">{% trans %}Administration{% endtrans %}</h1>
        <div class="columns is-multiline">
            <div class="column is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-squared">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ path('admin_page_list') }}" class="card-footer-item">
                            {% trans %}Éditer le contenu du site{% endtrans %}
                        </a>
                    </footer>
                </div>
            </div>
            <div class="column is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-squared">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ path('admin_asset_list') }}" class="card-footer-item">
                            {% trans %}Gérer la bibliothèque de médias{% endtrans %}
                        </a>
                    </footer>
                </div>
            </div>
            <div class="column is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-squared">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ path('admin_page_list') }}" class="card-footer-item">
                            {% trans %}Afficher les statistiques{% endtrans %}
                        </a>
                    </footer>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
