@use "../vendors/bulma";

.homepage-block {
    padding: 30px 10px;
    position: relative;

    .homepage-block-background {
        background-color: bulma.$primary;
        position: absolute;
        height: 100%;
        width: 100vw;
        z-index: -1;
    }

    &:nth-of-type(1n) .homepage-block-background {
        right: 0;
    }

    &:nth-of-type(2n) .homepage-block-background {
        left: 0;
    }
}

.homepage-block {
    display: flex;
    text-align: justify;
    padding: 20px;

    .homepage-block-content {
        width: 100%;
    }

    .homepage-block-background {
        display: none;
        background-color: bulma.$primary;
    }

    .anchor {
        position: absolute;
        top: -152px;
        left: 0;
    }
}

@media (min-width: bulma.$widescreen) {
    .homepage-block {
        min-height: 500px;
        display: flex;
        flex-direction: row;
        padding: 0;

        &:nth-of-type(even) {
            flex-direction: row-reverse;
        }

        .homepage-block-content {
            width: 50%;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .homepage-block-background {
            display: block;
            width: 50%;

            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    }
}
