<div class='image-wrap block mt-5 mb-5'>
    <div class='columns'>
        <div class='column image-wrap-column {{ col1 }}'>
            {% if imageContent == 1 %}
                {{ include('page/blocks/_image.html.twig', {asset: image, caption: ''}) }}
            {% else %}
                <div class="wrap-content">
                    {{ content|nl2br }}
                </div>
            {% endif %}
        </div>
        <div class='column image-wrap-column {{ col2 }}'>
            {% if imageContent == 2 %}
                {{ include('page/blocks/_image.html.twig', {asset: image, caption: ''}) }}
            {% else %}
                <div class="wrap-content">
                    {{ content|nl2br }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
