<div class="modal-wrapper" data-controller="common--modal">
    <figure class="figure">
        <img
            src="{{ asset.publicPath ?? asset.path }}"
            data-action="click->common--modal#open">
        {% if caption %}
            <figcaption class="figcaption mt-2">
                {{ caption }}
            </figcaption>
        {% endif %}
    </figure>
    <div class="modal" data-common--modal-target="modal">
        <div class="modal-background" data-action="click->common--modal#close"></div>
        <div data-common--modal-target="modal">
            <div class="modal-content">
                <p class="image">
                    <img src="{{ asset.publicPath ?? asset.path }}">
                </p>
            </div>
        </div>
    </div>
</div>
