<div class="image-grid-container mt-5 mb-5">
    <div class="columns is-multiline is-centered is-1">
        {% for image in images %}
            <div class="column is-{{ colWidth }}">
                <div class="image-grid-image-container">
                    <div class="image-grid-image-wrapper">
                        <div class="image-grid-image">
                            {{ include('page/blocks/_image.html.twig', {asset: image, caption: image.caption, isEmbed: true}) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
