<div class="content">
    {% if isOrdered %}
        <ol class="list">
    {% else %}
        <ul class="list">
    {% endif %}
    {% for item in items %}
        <li class="list-item">
            {{ item }}
        </li>
    {% endfor %}
    {% if isOrdered %}
        </ol>
    {% else %}
        </ul>
    {% endif %}
</div>
