<div
    class="level page-element pt-2 is-clickable tree-level tree-level-{{ page.lvl }} is-relative"
    data-controller="common--clickable"
    data-action="click->common--clickable#click">
    <div class="level-left">
        <div class="level-item is-flex is-flex-direction-column is-align-items-start">
            <a
                class="subtitle is-5"
                data-common--clickable-target="mainLink"
                href="{{ path(page.isEmptyNode ? 'admin_node_edit' : 'admin_page_edit', {id: page.id}) }}">
                {{ page.title }}
            </a>
            <div class="infos is-size-6 mt-2 has-text-grey">
                {% if not page.isEmptyNode %}
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-feather-alt"></i>
                        </span>
                        <span>{{ page.user }}</span>
                    </span>
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-clock"></i>
                        </span>
                        <span>{{ page.createdAt|date('d/m/Y') }}</span>
                    </span>
                    {% if page.isHomepage %}
                        <span class="tag">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fas fa-home"></i>
                                </span>
                                <span>
                                    {% trans %}Page d'accueil{% endtrans %}
                                </span>
                            </span>
                        </span>
                    {% endif %}
                {% else %}
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-project-diagram"></i>
                        </span>
                        <span>Noeud simple</span>
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="level-right">
        <div
            class="field has-addons are-small buttons"
            data-controller="common--modal-confirm">
            {% if not page.isEmptyNode %}
                <p class="control">
                    <a class="button is-info"
                       target="_blank"
                       rel="noopener noreferrer"
                       href="{{ path('page_show', {'slug': page.slug}) }}">
                        <span class="icon is-small">
                            <i class="fas fa-eye"></i>
                        </span>
                        <span>{% trans %}Voir{% endtrans %}</span>
                    </a>
                </p>
            {% endif %}
            {% if page.isDraft %}
                <p class="control">
                    <form action="{{ path('admin_page_publish', {id: page.id}) }}" method="POST">
                        <input type="hidden" name="csrfToken" value="{{ csrf_token('page-publish') }}">
                        <button class="button is-warning"
                                href="{{ path('admin_page_edit', {'id': page.id}) }}">
                            <span class="icon is-small">
                                <i class="fas fa-check"></i>
                            </span>
                            <span>{% trans %}Publier{% endtrans %}</span>
                        </button>
                    </form>
                </p>
            {% endif %}
            {% if page.isDeleted %}
                <p class="control">
                    <form action="{{ path('admin_page_restore', {id: page.id}) }}" method="POST">
                        <input type="hidden" name="csrfToken" value="{{ csrf_token('page-publish') }}">
                        <button class="button is-warning"
                                href="{{ path('admin_page_edit', {'id': page.id}) }}">
                            <span class="icon is-small">
                                <i class="fas fa-check"></i>
                            </span>
                            <span>{% trans %}Restaurer{% endtrans %}</span>
                        </button>
                    </form>
                </p>
            {% endif %}
            {% if not page.isHomepage %}
                <p class="control">
                    <form action="{{ path('admin_page_delete', {id: page.id}) }}" method="POST">
                        <input type="hidden" name="csrfToken" value="{{ csrf_token('page-delete') }}">
                        <button
                            class="button is-danger"
                            href="{{ path('admin_page_delete', {id: page.id}) }}">
                            <span class="icon is-small">
                                <i class="fas fa-trash"></i>
                            </span>
                            {% if page.isDeleted %}
                                <span>{% trans %}Supprimer{% endtrans %}</span>
                            {% else %}
                                <span>{% trans %}Corbeille{% endtrans %}</span>
                            {% endif %}
                        </button>
                    </form>
                </p>
            {% endif %}
        </div>
    </div>
</div>
