{% extends 'admin/base.html.twig' %}

{% block title %}
    {% trans %}Éditer la page{% endtrans %}
{% endblock %}

{% block main %}
    {{
        form_start(
            form,
            {
                attr: {
                    class: 'is-relative',
                    'data-controller': 'admin--page-edit',
                    'data-admin--page-edit-csrf-token-value': csrf_token('page-edit'),
                    'data-admin--page-edit-is-edit-value': isEdit ? '1' : '0',
                    'data-admin--page-edit-upload-url-value': isEdit ? path('api_editor_upload_asset', {id: page.id}) : null,
                    'data-admin--page-edit-add-to-page-url-value': isEdit ? path('api_editor_add_asset_to_page', {'page_id': page.id, 'asset_id': 'ASSET_ID'}) : null,
                    'data-admin--page-edit-remove-from-page-url-value': isEdit ? path('api_editor_remove_asset_from_page', {'id': 'PAGE_ASSET_ID'}) : null,
                    'data-admin--page-edit-remove-header-url-value': isEdit ? path('api_page_remove_header', {'id': page.id}) : null,
                    'data-admin--page-edit-search-url-value': path('api_search'),
                    'data-admin--page-edit-add-header-url-value': path('api_page_add_header', {'id': isEdit ? page.id : 'PAGE_ID', 'asset_id': 'ASSET_ID'}),
                    'data-admin--page-edit-crop-new-url-value': path('admin_header_crop_new', {'id': 'ASSET_ID', 'page_id': isEdit ? page.id : 'PAGE_ID'}),
                    'data-admin--page-edit-crop-edit-url-value': path('admin_header_crop_edit', {'id': 'ASSET_ID', 'cropped_id': 'CROPPED_ID', 'page_id': isEdit ? page.id : 'PAGE_ID'}),
                    'data-admin--page-edit-header-asset-id-value': page is defined and page.header ? page.header.asset.id : '',
                }
            }
        )
    }}
    {# <div class="card mb-4 page-config" #}
    {#      data-controller="common--card" #}
    {#      data-common--card-open-value="{{ isEdit ? '0' : '1' }}"> #}
    {#     {% form_theme form 'forms/bulma.html.twig' %} #}
    {#     <header #}
    {#         class="card-header has-background-info" #}
    {#         data-common--card-open-target="header" #}
    {#         data-action="click->common--card#toggle"> #}
    {#         <div class="card-header-title"> #}
    {#             <p> #}
    {#                 {% trans %}Configurer la page{% endtrans %} #}
    {#             </p> #}
    {#             {% if isEdit %} #}
    {#                 <span class="button is-static is-small ml-2" #}
    {#                       data-admin--page-edit-target="state"> #}
    {#                     <span data-admin--page-edit-target="stateText"> #}
    {#                         <span class="icon"> #}
    {#                             <i class="fas fa-check"></i> #}
    {#                         </span> #}
    {#                         <span data-admin--page-edit-target=""> #}
    {#                             {% trans %}Modifications enregistrées{% endtrans %} #}
    {#                         </span> #}
    {#                     </span> #}
    {#                     <span data-admin--page-edit-target="stateTextError" class="is-hidden"> #}
    {#                         <span class="icon"> #}
    {#                             <i class="fas fa-times"></i> #}
    {#                         </span> #}
    {#                         <span data-admin--page-edit-target="stateTextError2" class=""> #}
    {#                             {% trans %}Les modifications n'ont pas pu être enregistrées{% endtrans %} #}
    {#                         </span> #}
    {#                     </span> #}
    {#                 </span> #}
    {#             {% else %} #}
    {#                 {{ form_row(form.save, {attr: {class: 'ml-3 is-small'}}) }} #}
    {#             {% endif %} #}
    {#         </div> #}
    {#         <button class="card-header-icon" #}
    {#                 aria-label="more options"> #}
    {#             <span class="icon"> #}
    {#                 <i class="fas fa-angle-down" #}
    {#                    aria-hidden="true" #}
    {#                    data-common--card-target="toggle"></i> #}
    {#             </span> #}
    {#         </button> #}
    {#     </header> #}
    {#     <div class="card-content is-hidden" data-common--card-target="content"> #}
    {#         <div class="tabs-wrapper" data-controller="common--tabs"> #}
    {#             <div class="tabs"> #}
    {#                 <ul data-common--tabs-target="tabs"> #}
    {#                     <li class="is-active" #}
    {#                         data-action="click->common--tabs#changeTab" #}
    {#                         data-target="description"> #}
    {#                         <a href="#"> #}
    {#                             {% trans %}Description{% endtrans %} #}
    {#                         </a> #}
    {#                     </li> #}
    {#                     <li class="" #}
    {#                         data-action="click->common--tabs#changeTab" #}
    {#                         data-target="configuration"> #}
    {#                         <a href="#"> #}
    {#                             {% trans %}Configuration{% endtrans %} #}
    {#                         </a> #}
    {#                     </li> #}
    {#                 </ul> #}
    {#             </div> #}
    {#             <div class="tabContents" #}
    {#                  data-common--tabs-target="content"> #}
    {#                 <div class="" #}
    {#                      data-target="description"> #}
    {#                     {{ form_row( #}
    {#                         form.title, #}
    {#                         { #}
    {#                             'row_attr': {'class': 'page-title', 'id': 'pageTitle'}, #}
    {#                             'attr': { #}
    {#                                 'data-admin--page-edit-target': 'titleInput', #}
    {#                                 'data-admin--slug-target': 'input', #}
    {#                                 'data-action': 'admin--slug#updateSlug admin--page-edit#updateTitle', #}
    {#                             }, #}
    {#                         } #}
    {#                     ) }} #}
    {#                     {% if not isHomepage %} #}
    {#                         {1# <div class="block slug-output"> #1} #}
    {#                         {1#     {% trans %}URL de la page :{% endtrans %} #1} #}
    {#                         {1#     <a href="#" data-admin--slug-target="link"> #1} #}
    {#                         {1#         {{ app_base_url }}<span data-admin--slug-target="output"></span> #1} #}
    {#                         {1#     </a> #1} #}
    {#                         {1# </div> #1} #}
    {#                         {{ form_row(form.slug, {attr: {'data-admin--slug-target': 'data'}}) }} #}
    {#                     {% endif %} #}
    {#                     {{ form_row(form.description) }} #}
    {#                 </div> #}
    {#                 <div class="hidden" #}
    {#                      data-target="configuration"> #}
    {#                     {% if not isHomepage %} #}
    {#                         {{ form_row(form.isDraft) }} #}
    {#                         {{ form_row(form.isInHomepage) }} #}
    {#                         {{ form_row(form.menus) }} #}
    {#                     {% endif %} #}
    {#                 </div> #}
    {#             </div> #}
    {#         </div> #}
    {#     </div> #}
    {# </div> #}
    {% if isEdit %}
        <div
            class="page-title-container is-relative"
            data-controller="editor--title"
            data-editor--title-max-value="{{ form.title.vars.attr.maxLength }}"
            data-admin--page-edit-target="pageHeader"
            {% if page.header %}
                data-admin--page-edit-header-id-value="{{ page.header.id }}"
                style="background-image: url({{ asset(page.header.publicPath) }});"
            {% endif %}
            >
            {{ form_row(form.title, {attr: {'data-editor--title-target': 'input'}}) }}
            <h1 class="subtitle is-1">
                <span
                    class="content-editable"
                    contenteditable
                    data-editor--title-target="title"
                    data-action="input->editor--title#updateTitle keydown->editor--title#preventOverflow keydown->editor--title#preventLineBreak keyup->editor--title#preventLineBreak">
                    {{ form.title.vars.data }}
                </span>
                <span
                    class="editor-title-placeholder{% if form.title.vars.data %} hidden{% endif %}"
                    data-editor--title-target="placeholder">
                    {{ form.title.vars.attr.placeholder }}
                </span>
            </h1>
            <div class="page-header-crop-container">
                <img
                    class="hidden"
                    data-admin--page-edit-target="headerCropper"
                    src="{{ page.header ? asset(page.header.asset.publicPath) : '' }}">
            </div>
            {{ include('admin/assets/_modal_page_header.html.twig') }}
        </div>
    {% endif %}
    <div id="pageContent" class="is-relative">
        <div
            class="editor-action-container"
            data-controller="common--panel">
            <div class="editor-action__content">
                <div class="editor-action-panel">
                    <h4 class="subtitle is-4">
                        Configuration de la page
                    </h4>
                    {% if not page.isHomepage %}
                        {{ form_row(form.isInHomepage) }}
                        {{ form_row(form.isDraft) }}
                        {{ form_row(form.convert) }}
                    {% endif %}
                    {{ form_row(form.slug, {attr: {'data-controller': 'admin--slug', 'data-action': 'title:update@document->admin--slug#updateSlug', 'data-admin--slug-target': 'data'}}) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.menus) }}
                </div>
                <div class="editor-action__buttons">
                    <button
                        class="editor-action-button is-small action-show"
                        type="button"
                        data-common--panel-target="openButton"
                        data-action="common--panel#toggle">
                        <span class="icon">
                            <i class="fas fa-cogs"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="container">
                <div class="page-edition">
                    {{ form_widget(form.content) }}
                    <div id="editorjsHolder"></div>
                </div>
            </div>
            <template id="tplEditorImageCollection">
                {{ include('admin/assets/_modal_editor_image_collection.html.twig') }}
            </template>
        </section>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
