{% extends 'admin/base.html.twig' %}

{% block title %}
    {% trans %}Créer une page{% endtrans %}
{% endblock %}

{% block main %}
    <section class="section">
        <div class="container has-text-centered">
            <p>Cette page est juste un noeud, vous ne pouvez pas éditer son contenu.</p>

            {{ form(convertForm, {attr: {class: 'mt-5'}}) }}
        </div>
        <div class="form-container mt-5">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_end(form, {'render_rest': true}) }}
        </div>
    </section>
{% endblock %}
