{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}Pages{% endtrans %}{% endblock %}

{% set tab = tab ?? 'active' %}

{% block main %}
    <section class="section">
        <div class="container">
            <h1 class="title is-1">Pages</h1>
            <p class="block">{% trans %}Créer, éditer et gérer les pages du site.{% endtrans %}</p>
            <a class="block button is-primary" href="{{ path('admin_page_new') }}">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span>{% trans %}Ajouter une page{% endtrans %}</span>
                </span>
            </a>
            <div class="tabs-wrapper" data-controller="common--tabs">
                <div class="tabs pageList">
                    <ul data-common--tabs-target="tabs">
                        <li
                            class="{% if tab == 'active' %}is-active{% endif %}"
                            data-action="click->common--tabs#changeTab"
                            data-target="active">
                            <a href="#">
                                {% trans %}Publiées{% endtrans %}
                                <span class="tag ml-2 pageCount">{{ pages|filter(p => not p.isDraft and not p.isDeleted)|length }}</span>
                            </a>
                        </li>
                        <li
                            class="{% if tab == 'draft' %}is-active{% endif %}"
                            data-action="click->common--tabs#changeTab"
                            data-target="draft">
                            <a href="#">
                                {% trans %}Brouillons{% endtrans %}
                                <span class="tag ml-2 pageCount">{{ pages|filter(p => p.isDraft and not p.isDeleted)|length }}</span>
                            </a>
                        </li>
                        <li
                            class="{% if tab == 'deleted' %}is-active{% endif %}"
                            data-action="click->common--tabs#changeTab"
                            data-target="deleted">
                            <a href="#">
                                {% trans %}Supprimées{% endtrans %}
                                <span class="tag ml-2 pageCount">{{ pages|filter(p => p.isDeleted)|length }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div data-common--tabs-target="content">
                    <div
                        class="tab-content {% if tab == 'active' %}is-active{% endif %}"
                        data-target="active">
                        {% for page in pages|filter(p => not p.isDraft and not p.isDeleted) %}
                            {{ include('admin/pages/_page_block.html.twig') }}
                        {% endfor %}
                    </div>
                    <div
                        class="tab-content {% if tab == 'draft' %}is-active{% endif %}"
                        data-target="draft">
                        {% for page in pages|filter(p => p.isDraft and not p.isDeleted) %}
                            {{ include('admin/pages/_page_block.html.twig') }}
                        {% endfor %}
                    </div>
                    <div
                        class="tab-content {% if tab == 'deleted' %}is-active{% endif %}"
                        data-target="deleted">
                        {% for page in pages|filter(p => p.isDeleted) %}
                            {{ include('admin/pages/_page_block.html.twig') }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
