{% extends 'admin/base.html.twig' %}

{% block title %}
    {% trans %}Créer une page{% endtrans %}
{% endblock %}

{% block main %}
    <section class="section">
        <div class="form-container">
            {{
                form_start(
                    form,
                    {
                        attr: {
                            class: 'is-relative',
                            'data-controller': 'admin--slug',
                        }
                    }
                )
            }}
            {{
                form_row(
                    form.title,
                    {
                        attr: {
                            class: 'is-relative',
                            'data-admin--slug-target': 'input',
                            'data-action': 'admin--slug#updateSlug',
                        }
                    }
                )
            }}
            {{
                form_row(
                    form.slug,
                    {
                        attr: {
                            class: 'is-relative',
                            'data-admin--slug-target': 'data',
                        }
                    }
                )
            }}
            {{ form_end(form, {'render_rest': true}) }}
        </div>
    </section>
{% endblock %}
