<div class="container">
<div class="columns">
    <div class="column is-6-tablet has-text-centered has-text-left-tablet">
        <div class="modal-wrapper" data-controller="common--modal">
            <a
                href="#"
                class="simple-link"
                data-action="click->common--modal#open">
                {% trans %}Mentions légales{% endtrans %}
            </a>
            <div class="modal" data-common--modal-target="modal">
                <div class="modal-background" data-action="click->common--modal#close"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">{% trans %}Mentions légales{% endtrans %}</p>
                        <button class="delete" data-action="click->common--modal#close" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                        <p>{{ config.legalNotice|nl2br }}</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-6-tablet has-text-right-tablet has-text-centered">
        {{ config.contactAddress|nl2br }}
        {# <address> #}
        {#     <a href="mailto:{{ config.contactEmail }}">{{ config.contactEmail }}</a><br> #}
        {#     <a href="tel:{{ config.contactPhone }}">{{ config.contactPhone }}</a> #}
        {# </address> #}
    </div>
</div>
<div class="level copyright">
    <div class="level-left">
        <div class="level-item">
            &copy;{{ "now"|date('Y') }} {{ config.contactName }}
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
            <p>Site réalisé par <a class="simple-link is-italic" href="https://norival.dev" target="_blank" rel="noreferrer noopener">Norival</a>, développeur web freelance</p>
        </div>
    </div>
</div>
</div>
