@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('./../../static/fonts/adobe_garamond_pro/AGaramondPro-Italic.woff2') format('woff2'),
        url('./../../static/fonts/adobe_garamond_pro/AGaramondPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('./../../static/fonts/adobe_garamond_pro/AGaramondPro-Semibold.woff2') format('woff2'),
        url('./../../static/fonts/adobe_garamond_pro/AGaramondPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('./../../static/fonts/adobe_garamond_pro/AGaramondPro-SemiboldItalic.woff2') format('woff2'),
        url('./../../static/fonts/adobe_garamond_pro/AGaramondPro-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('./../../static/fonts/adobe_garamond_pro/AGaramondPro-BoldItalic.woff2') format('woff2'),
        url('./../../static/fonts/adobe_garamond_pro/AGaramondPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('./../../static/fonts/adobe_garamond_pro/AGaramondPro-Bold.woff2') format('woff2'),
        url('./../../static/fonts/adobe_garamond_pro/AGaramondPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('./../../static/fonts/adobe_garamond_pro/AGaramondPro-Regular.woff2') format('woff2'),
        url('./../../static/fonts/adobe_garamond_pro/AGaramondPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

