{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}Plan du site{% endtrans %}{% endblock %}

{% block main %}
    <section class="section">
        <div class="container">
            <h1 class="title is-1">{% trans %}Plan du site{% endtrans %}</h1>
            <p class="block">{% trans %}Glissez-déposez les pages pour les réorganiser.{% endtrans %}</p>
            <div class="block content">
                {{
                    tree|tree({
                        list: {
                            class: 'tree',
                            'data-controller': 'common--sortable'
                        },
                        node: {
                            class: 'tree-node',
                        },
                    })|raw
                }}
            </div>
        </div>
    </section>
{% endblock %}
