{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}Configuration du site{% endtrans %}{% endblock %}

{% block main %}
    <div class="section">
        <div class="container">
            <h1 class="title">{% trans %}Configuration du site{% endtrans %}</h1>
            {{
                form_start(
                    form,
                    {
                        attr: {
                            'data-controller': 'common--form',
                            'data-action': 'submit->common--form#load'
                        }
                    }
                )
            }}
            <div class="block">
                {{ form_row(form.save) }}
            </div>
            <div class="tabs-wrapper" data-controller="common--tabs">
                <div class="tabs">
                    <ul data-common--tabs-target="tabs">
                        <li class="is-active"
                            data-action="click->common--tabs#changeTab"
                            data-target="contact">
                            <a href="#">
                                {% trans %}Informations de contact{% endtrans %}
                            </a>
                        </li>
                        <li class=""
                            data-action="click->common--tabs#changeTab"
                            data-target="configuration">
                            <a href="#">
                                {% trans %}Référencement{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </div>
                <div data-common--tabs-target="content">
                    <div
                        class="tab-content is-active"
                        data-target="contact">
                        {{ form_row(form.contactName) }}
                        {{ form_row(form.contactEmail) }}
                        {{ form_row(form.contactPhone) }}
                        {{ form_row(form.contactAddress) }}
                        {{ form_row(form.legalNotice) }}
                    </div>
                    <div
                        class="tab-content"
                        data-target="configuration">
                        <div
                            class="file-with-preview columns"
                            data-controller="common--file-input">
                            {{
                                form_row(form.siteLogo, {
                                    row_attr: {
                                        class: 'column is-12 is-4-tablet is-2-widescreen'
                                    },
                                    attr: {
                                        'data-common--file-input-target': 'input'
                                    }
                                })
                            }}
                            <div
                                class="file-input-preview column hidden has-text-left has-text-centered-mobile"
                                data-common--file-input-target="previewContainer">
                                <img
                                    src="{{ config.siteLogo ? asset('/uploads/assets/' ~ config.siteLogo) : '' }}"
                                    alt=""
                                    data-common--file-input-target="preview">
                            </div>
                        </div>
                        {{ form_row(form.siteTitle) }}
                        {{ form_row(form.siteDescription) }}
                    </div>
                </div>
            </div> 
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
