// @use 'foundation/colors';

// // colors
// // $primary: #375173;
// // $link: $primary;

// // navbar
// $navbar-height: 4.5rem;
// $navbar-item-img-max-height: 4rem;
// $navbar-item-hover-color: white;
// $navbar-item-hover-background-color: colors.$primary;
// $navbar-tab-hover-background-color: colors.$primary;
// $navbar-dropdown-arrow: colors.$primary;
// $navbar-box-shadow-size: 0 -4px 8px 0;
// $navbar-box-shadow-color: colors.$primary;
// $navbar-dropdown-offset: -12px;
// $navbar-dropdown-item-hover-color: white;
// $navbar-dropdown-item-hover-background-color: colors.$primary;

// // fonts
// $family-primary: 'Adobe Garamond Pro', serif;
// $body-font-size: 1.3em;

// // titles
// $title-color: white;
// $title-weight: 400;
// $title-size: 3rem;

// // layout
// $container-max-width: 900px;
// $footer-background-color: colors.$primary;
// $footer-color: white;
// $footer-padding: 20px 20px 5px;
