@import "./global.scss";

// .page-title-container {
//     text-align: center;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 300px;
//     background-color: $light;

//     &.has-header {
//         height: 500px;
//         background-size: cover;
//         background-repeat: no-repeat;
//         background-attachment: fixed;
//         background-color: $dark;
//     }
// }
