// override for bulma variables
// @import "./_variables.scss";
// @import "~bulma/bulma";

.hidden {
    display: none!important;
}

.card {
    .card-header {
        cursor: pointer;
    }
}


.has-wordcount {
    position: relative;

    .word-counter {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 0.9em;
    }
}

.is-clickable {
    cursor: pointer;
}

.image-grid-image-container {
    .image-grid-image-wrapper {
        .image-grid-image {
            .figure {
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}
