// @use "elements/main" as elements;
// @use "components/links";

// @import "./global.scss";
// @import "./_variables_front.scss";
// @import "./fonts/fonts.scss";
// @import "~bulma/bulma";

/*
 * Elements
 */
// .link {
//     @include elements.link;

//     &.is-hoverable {
//         @include elements.link-hoverable;
//     }
// }

// .list-item {
//     &::marker {
//         color: $primary;
//     }
// }

// ul.list {
//     list-style-type: square;
// }

// .field-label {
//     flex-grow: 0;

//     .label {
//         font-size: 1rem;
//     }
// }

// /*
//  * Navbar
//  */

// .page-navigation {
//     position: sticky;
//     overflow: hidden;
//     top: 80px;
//     z-index: 1;
//     display: none;

//     .navbar-start {
//         justify-content: center;
//         flex-grow: 1;

//         a.navbar-item {
//             text-transform: none;

//             &:hover {
//                 background-color: white!important;
//                 color: $primary!important;
//             }
//         }
//     }
// }


// /*
//  * Page title
//  */



// /*
//  * Layout
//  */
// .container {
//     text-align: justify;
// }

// /*
//  * Content
//  */


// .image-wrap {
//     .image-wrap-column {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//     }
// }

// .modal-card-body {
//     text-transform: none;
//     color: $body-color;
// }


// /*
//  * Contact page
//  */
// .contact {
//     .title {
//         color: $primary,
//     }
// }


// /*
//  * Page content
//  */


// /*
//  * Contact form
//  */
// .is-homepage .contact {
//     min-height: calc(100vh - 167px - 72px - 80px + 30px);
//     border-top: 30px solid $primary;

//     .control .icon {
//         z-index: 0!important;
//     }
// }



// /*
//  * Footer
//  */

// @media (min-width: $tablet) {
//     .page-title-container {
//         .title {
//             font-size: 3.6rem;
//         }
//     }
// }

// @media (min-width: $widescreen) {
//     .is-homepage {
//         .page-title-container {
//             border-bottom: 30px solid $primary;
//         }
//     }
// }

// @media (min-width: $fullhd) {
//     .is-homepage .page-title-container {
//         border: none;
//     }

//     .page-title-container {
//         &.has-header {
//             &.has-page-navigation {
//                 height: calc(100vh - 72px * 2);
//             }
//         }
//     }

//     .page-navigation {
//         display: flex;
//     }
// }
