{{ form_start(form, {'attr': {'data-controller': 'front--captcha'}}) }}
<div class="field is-horizontal">
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <input
                    class="input"
                    type="text"
                    name="{{ form.name.vars.full_name }}"
                    placeholder="Nom">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control is-expanded has-icons-left has-icons-right">
                <input
                    class="input"
                    type="email"
                    name="{{ form.email.vars.full_name }}"
                    placeholder="Email">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </p>
        </div>
    </div>
</div>
{{ form_row(form.message) }}
<div class="field">
    <div class="frc-captcha" data-front--captcha-target="widget" data-lang="fr"></div>
</div>
{{ form_row(form.submit, {'attr': {'data-front--captcha-target': 'submit', 'disabled': 'disabled'}}) }}
{{ form_row(form._token) }}
{{ form_end(form, {render_rest: false}) }}
