{% extends 'page/base.html.twig' %}

{% block title %}{% trans %}Nous contacter{% endtrans %}{% endblock %}

{% block page_header %}{% endblock %}

{% block main %}
    <div class="container">
        <div class="section contact">
            <h1 class="title is-1 is-primary">{% trans %}Contactez nous !{% endtrans %}</h1>
            <p>Ipsum quia excepturi debitis repudiandae non? Laboriosam delectus sequi nemo dolorem autem cum Similique sunt eveniet voluptates saepe suscipit blanditiis aliquid Tempora rem amet itaque nesciunt velit id. Molestiae facilis</p>
            <div class="block mt-4">
                {{ include('contact/_form.html.twig', {form: form}) }}
            </div>
        </div>
    </div>
{% endblock %}
