@use "../abstracts/colors";

.asset-card {
    .image {
        height: 235px;
        border: 6px solid transparent;
        background-size: cover;
        background-repeat: no-repeat;
        background-origin: border-box;

        &.is-selected {
            border-color: colors.$primary;
        }
    }
}

.image-collection-container {
    border: 1px solid grey;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
}
