.document {
    width: 282px;
    height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px 4px 0 0;

    .icon {
        height: 70px;
        font-size: 70px;
    }
}
