@use "../vendors/bulma";

.link {
    border-bottom: 3px solid bulma.$primary;
    padding-bottom: 1px;

    &.is-hoverable {
        min-width: 2%;
        transition: all 0.6s ease;
        display: inline-block;

        &:hover {
            min-width: 100%;
        }
    }
}
