@use "../vendors/bulma";
@use "../base/animations/index";

.app-loader {
    height: 100px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 50%;
    height: 15px;

    &::after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 20px;
        background-color: bulma.$primary;
        animation: 2s ease infinite horizontal-loader;
    }
}
