@use "../vendors/bulma";

.page-element {
    .level-left {
        max-width: 80%;
        overflow: hidden;

        .sub-title {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    & ~ .page-element {
        border-top: 1px solid bulma.$grey-lighter;
    }
}

