@use "../vendors/bulma";

.page-title-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: bulma.$primary;

    &.has-header {
        height: calc(100vh - 72px);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .title {
        font-size: 2.7rem;
        text-shadow: 0 0 3px darkgrey;
        text-transform: uppercase;
    }
}

.subtitle {
    &.is-2 {
        position: relative;
        margin-top: 30px;

        &:not(.is-centered) {
            padding-left: 20px;

            &::before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                height: 100%;
                width: 6px;
                background-color: bulma.$primary;
            }
        }

        &.is-centered {
            text-align: center;
        }
    }

    &.is-3 {
        color: bulma.$primary;
        margin-top: 20px;
    }
}
