@use "../vendors/bulma" as bulma;

.new-node-container {
    .input {
        max-width: 400px;
    }
}

.node-marker {
    position: absolute;
    left: 0;
    transform: translateX(-150%);
    width: 20px;

    &::after {
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }

    &.page-item::after {
        content: "\f15b";
    }

    &.empty-node-item::after {
        content: "\f542";
    }
}

.tree {
    list-style: none!important;
}

.tree-insert-node {
    border: none;
    color: bulma.$primary;
    visibility: hidden;
}

.tree-level {
    &.level {
        margin-bottom: 0;
        padding-bottom: 0.5rem;
    }

    &::before {
        position: absolute;
        content: '';
        display: block;
        left: 0;
        top: 0;
        height: 100%;
        width: 0;
        background-color: bulma.$light;
    }

    &-2 {
        padding-left: 2rem;

        &::before {
            width: 1.5rem;
        }
    }
    &-3 {
        padding-left: 3rem;

        &::before {
            width: 2.5rem;
        }
    }
    &-4 {
        padding-left: 4rem;

        &::before {
            width: 3.5rem;
        }
    }
    &-5 {
        padding-left: 5rem;

        &::before {
            width: 4.5rem;
        }
    }
    &-6 {
        padding-left: 6rem;

        &::before {
            width: 5.5rem;
        }
    }
    &-7 {
        padding-left: 7rem;

        &::before {
            width: 6.5rem;
        }
    }
    &-8 {
        padding-left: 8rem;

        &::before {
            width: 7.5rem;
        }
    }
}

.tree-node-content {
    display: flex;
    align-items: center;
    position: relative;

    &:hover .tree-insert-node {
        visibility: visible;
        animation: 0.3s ease-out 1 bump-right;
    }
}

.tree-node.sortable-chosen {
    .tree-insert-node {
        visibility: hidden!important;
    }
}

