<div class="modal confirmation-dialog"
     data-controller="common--modal"
     data-common--modal-target="modal"
     data-{{ controller }}-target="dialog">
    <div class="modal-background" data-action="click->common--modal#close"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-danger">
            <p class="modal-card-title">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                    <span>{{ title }}</span>
                </span>
            </p>
            <button class="delete" data-action="click->common--modal#close" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <p>{{ message }}</p>
            <div class="modal-body-supp-message content mt-3"></div>
        </section>
        <footer class="modal-card-foot">
            <button
                class="button is-danger"
                {% if token is defined %}
                    data-csrf-token="{{ token }}"
                {% endif %}
                data-action="{{ controllerAction }}"
                data-admin--asset-collection-target="dialogConfirm"
                data-url="">
                {{ confirmationMessage }}
            </button>
            <button class="button" data-action="common--modal#close">{% trans %}Annuler{% endtrans %}</button>
        </footer>
    </div>
</div>
