<div class="flash-messages-wrapper is-relative">
    <ul class="flash-messages">
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="level flash-message has-background-{{ type }}" data-controller="common--flash">
                    <div class="level-left">
                        <div class="level-item">
                            <span class="icon">
                                {% if type == 'success' %}
                                    <i class="fas fa-check"></i>
                                {% elseif type == 'warning' %}
                                    <i class="fas fa-exclamation-triangle"></i>
                                {% elseif type == 'danger' %}
                                    <i class="fas fa-exclamation"></i>
                                {% endif %}
                            </span>
                        </div>
                        <div class="level-item">
                            <p>{{ message }}</p>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <button class="delete" data-action="common--flash#close" aria-label="delete"></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
