<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# favicons #}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#375173">
        <meta name="msapplication-TileColor" content="#375173">
        <meta name="theme-color" content="#ffffff">
        {# end favicons #}

        {% block meta %}{% endblock %}

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
        {% endblock %}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
        {% endblock %}
    </head>
    <body
        class="{% if app.request.get('_route') != 'app_login' %}has-navbar-fixed-top{% endif %} is-flex is-flex-direction-column">
        <header>
            {% block header %}{% endblock %}
        </header>


        <main class="is-flex-grow-1{% if page is defined and page.isHomepage %} is-homepage{% endif %}">
            {{ include('common/_flash.html.twig') }}
            {% block page_header %}{% endblock %}
            {% block page_navigation %}{% endblock %}
            {% block main %}{% endblock %}
        </main>

        <footer class="footer">
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>
