<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for page in pages %}
        <url>
        {% if page.isHomepage %}
            <loc>{{ url('page_home') }}</loc>
        {% else %}
            <loc>{{ url('page_show', {slug: page.slug}) }}</loc>
        {% endif %}
        <lastmod>{{ page.updatedAt|date }}</lastmod>
        <changefreq>yearly</changefreq>
        <priority>1</priority>
        </url>
    {% endfor %}
</urlset>
