<div class="column is-4-tablet is-3-widescreen is-2-fullhd asset-card" data-asset-id="{{ asset.id }}">
    <div
        class="card is-clickable"
        data-controller="common--clickable"
        data-action="click->common--clickable#click">
        <a
            class="hidden"
            data-common--clickable-target="mainLink"
            target="_blank"
            href="{{ path('asset_show_public', {path: asset.path}) }}">
        </a>
        <div class="card-{{ type }}">
            {% if type == 'image' %}
                <div
                    style="background-image: url({{ asset(asset.publicPath) }});"
                    class="image">
                </div>
            {% else %}
                <figure class="document is-square has-background-light">
                    <span class="icon">
                        <i class="fas fa-file-alt"></i>
                    </span>
                    <span>
                        {{ asset.title }}
                    </span>
                </figure>
            {% endif %}
        </div>
        <footer class="card-footer">
            <a
                href="{{ path('admin_asset_edit', {id: asset.id}) }}"
                class="card-footer-item button is-primary">
                {{ 'Modifier'|trans }}
            </a>
            <button
                class="card-footer-item button is-danger"
                data-admin--asset-collection-target="dialogConfirm"
                data-url="{{ path('admin_asset_delete', {id: asset.id}) }}"
                data-pages-url="{{ path('admin_asset_pages', {id: asset.id}) }}"
                data-action="click->admin--asset-collection#delete">
                {{ 'Supprimer'|trans }}
            </button>
        </footer>
    </div>
</div>
