<div class="column is-4-tablet is-2-fullhd">
    <div
        style="background-image: url({{ asset(image.publicPath) }});"
        class="image"
        data-asset-id="{{ image.id }}"
        data-asset-path="{{ asset(image.publicPath) }}">
    </div>
</div>
