<div
    class="image-collection-container"
    data-controller="common--lazyload"
    data-common--lazyload-fetch-url-value="{{ url('api_asset_fetch_lazy') }}"
    data-common--lazyload-is-embed-value="1"
    data-common--lazyload-offset-value="{{ -1 }}"
    data-common--lazyload-per-page-value="{{ imagesPerPage }}">
    <div
        class="columns is-multiline image-collection"
        data-common--lazyload-target="collection">
    </div>
    <div
        class="app-loader"
        data-common--lazyload-target="loader">
    </div>
</div>
