<div
    class="modal is-large image-collection-modal"
    data-controller="common--modal"
    data-common--modal-target="modal">
    <div
        class="modal-background"
        data-action="click->common--modal#close">
    </div>
    <div class="modal-card">
        <header class="modal-card-head has-background-primary">
            <p class="modal-card-title">{% trans %}Collection d'images{% endtrans %}</p>
            <button
                class="delete"
                data-action="click->common--modal#close"
                aria-label="close">
            </button>
        </header>
        <section class="modal-card-body">
            {{ include('admin/assets/_image_collection.html.twig') }}
        </section>
        <footer class="modal-card-foot">
            <button
                class="button"
                data-action="common--modal#close">
                {% trans %}Annuler{% endtrans %}
            </button>
            <div class="file mr-2 is-normal">
                <label class="file-label">
                    <input
                        class="file-input"
                        type="file"
                        data-action="">
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            {% trans %}Choisir depuis l'ordinateur{% endtrans %}
                        </span>
                    </span>
                </label>
            </div>
            <button
                class="button is-success image-collection-confirm-button"
                data-button-action="image-collection-confirm-button"
                disabled>
                {% trans %}Choisir cette image{% endtrans %}
            </button>
        </footer>
    </div>
</div>
