<div class="modal-wrapper" data-controller="common--modal">
    <div class="page-header-actions">
        <button
            class="page-header-cropper editor-action-button{% if not page.header %} hidden{% endif %}"
            data-admin--page-edit-target="startCropButton"
            data-action="admin--page-edit#cropHeader">
            <span class="icon">
                <i class="fas fa-crop"></i>
            </span>
        </button>
        <button
            class="page-header-cropper editor-action-button hidden"
            data-admin--page-edit-target="confirmCropButton"
            data-action="admin--page-edit#confirmCrop">
            <span class="icon">
                <i class="fas fa-check"></i>
            </span>
        </button>
        <button
            class="page-header-selector editor-action-button"
            data-admin--page-edit-target="changeHeaderButton"
            data-action="click->common--modal#open">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </button>
    </div>
    <div
        class="modal is-large"
        data-common--modal-target="modal">
        <div
            class="modal-background"
            data-action="click->admin--page-edit#resetImageLibrary click->common--modal#close">
        </div>
        <div class="modal-card">
            <header class="modal-card-head has-background-primary">
                <p class="modal-card-title">{% trans %}En-tête de page{% endtrans %}</p>
                <button
                    class="delete"
                    data-action="click->admin--page-edit#resetImageLibrary click->common--modal#close"
                    aria-label="close">
                </button>
            </header>
            <section
                class="modal-card-body"
                data-admin--page-edit-target="imageCollection"
                data-action="click->admin--page-edit#chooseImage">
                {{ include('admin/assets/_image_collection.html.twig') }}
            </section>
            <footer class="modal-card-foot">
                <button
                    class="button"
                    data-admin--page-edit-target="imageCollectionCloseButton"
                    data-action="click->admin--page-edit#resetImageLibrary common--modal#close">
                    {% trans %}Annuler{% endtrans %}
                </button>
                <div class="file mr-2">
                    <label class="file-label">
                        <input
                            class="file-input"
                            type="file"
                            data-action="admin--page-edit#onChooseNewImage">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                {% trans %}Choisir depuis l'ordinateur{% endtrans %}
                            </span>
                        </span>
                    </label>
                </div>
                <button
                    class="button is-danger"
                    data-action="admin--page-edit#resetImageLibrary admin--page-edit#removeHeader common--modal#close">
                    <span class="icon">
                        <i class="fas fa-trash"></i>
                    </span>
                    <span>
                        {% trans %}Supprimer le header{% endtrans %}
                    </span>
                </button>
                <button
                    class="button is-success"
                    data-action="admin--page-edit#onClickChooseHeader"
                    data-admin--page-edit-target="chooseHeaderButton"
                    disabled>
                    {% trans %}Choisir cette image{% endtrans %}
                </button>
            </footer>
        </div>
    </div>
</div>
