{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}Médias{% endtrans %}{% endblock %}

{% block main %}
    <section
        class="section"
        data-controller="admin--asset-edit"
        data-admin--asset-edit-url-value="{{ path('admin_asset_replace', {id: asset.id}) }}">
        <div class="container">
            <h1 class="title">
                {% if type == 'image' %}
                    {% trans %}Éditer une image{% endtrans %}
                {% else %}
                    {% trans %}Éditer un document{% endtrans %}
                {% endif %}
            </h1>
            <div class="columns">
                <div class="column">
                    {% if type == 'image' %}
                        <figure class="image">
                            <img src="{{ asset(asset.publicPath) }}" alt="{{ asset.title }}">
                        </figure>
                    {% else %}
                        <figure class="document is-square has-background-light">
                            <span class="icon">
                                <i class="fas fa-file-alt"></i>
                            </span>
                            <span>
                                {{ asset.title }}
                            </span>
                        </figure>
                    {% endif %}
                </div>
                <div class="column">
                    {{
                        form_start(
                            form,
                            {
                                attr: {
                                    'data-controller': 'common--form',
                                    'data-action': 'submit->common--form#load'
                                }
                            }
                        )
                    }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.caption) }}
                    {{ form_row(form.description) }}
                    <div class="field is-grouped">
                        <p class="control">
                            <button type="submit" class="button is-link is-success">
                                {% trans %}Enregistrer{% endtrans %}
                            </button>
                        </p>
                        <p class="control">
                            <button
                                class="button is-link is-info"
                                data-action="admin--asset-edit#openModal">
                                {% trans %}Remplacer{% endtrans %}
                            </button>
                        </p>
                        <p class="control">
                            <a href="{{ path('admin_asset_list') }}" class="button is-danger">
                                {% trans %}Annuler{% endtrans %}
                            </a>
                        </p>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div
                class="modal"
                data-controller="common--modal"
                data-common--modal-target="modal"
                data-admin--asset-edit-target="replaceModal">
                <div class="modal-background" data-action="click->common--modal#close"></div>
                <div class="modal-card">
                    <header class="modal-card-head has-background-info">
                        <p class="modal-card-title">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fas fa-edit"></i>
                                </span>
                                {% if type == 'image' %}
                                    <span>{% trans %}Remplacer l'image{% endtrans %}</span>
                                {% else %}
                                    <span>{% trans %}Remplacer le document{% endtrans %}</span>
                                {% endif %}
                            </span>
                        </p>
                        <button class="delete" data-action="click->common--modal#close" aria-label="close">
                        </button>
                    </header>
                    <section class="modal-card-body">
                        <h3 class="subtitle is-3">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                                <span>
                                    Attention !
                                </span>
                            </span>
                        </h3>
                        {% if type == 'image' %}
                            <p class="block mb-2">
                                {% trans %}Remplacer cet image remplacera aussi toutes ses images rognées sur toutes les pages.{% endtrans %}
                            </p>
                        {% endif %}
                        <div
                            class="file has-name"
                            data-controller="common--file-upload">
                            <label class="file-label">
                                <input
                                class="file-input"
                                type="file"
                                data-admin--asset-edit-target="fileInput"
                                data-action="change->common--file-upload#setName">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        {% trans %}Choisir un fichier...{% endtrans %}
                                    </span>
                                </span>
                                <span
                                    class="file-name"
                                    data-common--file-upload-target="fileName">
                                    {% trans %}Aucun fichier{% endtrans %}
                                </span>
                            </label>
                        </div>
                    </section>
                    <footer class="modal-card-foot">
                        <button
                            class="button is-success"
                                data-action="admin--asset-edit#replace"
                                {# data-admin--asset-edit-target="replaceButton" #}
                                data-url="">
                            {% trans %}Remplacer{% endtrans %}
                        </button>
                        <button class="button" data-action="common--modal#close">{% trans %}Annuler{% endtrans %}</button>
                    </footer>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
