{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}Médias{% endtrans %}{% endblock %}

{% block main %}
    <section class="section"
             data-controller="admin--asset-collection"
             data-admin--asset-collection-upload-url-value="{{ path('admin_asset_upload') }}"
             data-admin--asset-collection-delete-url-value="{{ path('admin_asset_upload') }}"
             data-admin--asset-collection-document-count-value="{{ nDocuments }}"
             data-admin--asset-collection-image-count-value="{{ nImages }}"
             data-admin--asset-collection-csrf-token-value="{{ csrf_token('assets_delete') }}">
        <h1 class="title">{% trans %}Médias{% endtrans %}</h1>
        <div class="file" id="newMedia">
            <label class="file-label">
                <input class="file-input"
                       type="file"
                       name="media"
                       data-admin--asset-collection-target="input"
                       data-action="change->admin--asset-collection#upload">
                       <span class="file-cta">
                           <span class="file-icon">
                               <i class="fas fa-upload"></i>
                           </span>
                           <span class="file-label">
                               {% trans %}Ajouter un média{% endtrans %}
                           </span>
                       </span>
            </label>
        </div>
        <div class="tabs-wrapper" data-controller="common--tabs">
            <div class="tabs pageList">
                <ul data-common--tabs-target="tabs">
                    <li class="is-active"
                        data-action="click->common--tabs#changeTab"
                        data-target="images">
                        <a href="#">
                            {% trans %}Images{% endtrans %}
                            <span class="tag ml-2 pageCount"
                                  data-admin--asset-collection-target="imageCount">
                                {{ nImages }}
                            </span>
                        </a>
                    </li>
                    <li class=""
                        data-action="click->common--tabs#changeTab"
                        data-target="documents">
                        <a href="#">
                            {% trans %}Documents{% endtrans %}
                            <span class="tag ml-2 pageCount"
                                  data-admin--asset-collection-target="documentCount">
                                {{ nDocuments }}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div data-common--tabs-target="content">
                <div
                    class="tab-content is-active"
                    data-target="images"
                    data-controller="common--lazyload"
                    data-common--lazyload-fetch-url-value="{{ url('api_asset_fetch_lazy') }}"
                    data-common--lazyload-is-viewport-value="1"
                    data-common--lazyload-is-embed-value="0"
                    data-common--lazyload-offset-value="{{ -1 }}"
                    data-common--lazyload-per-page-value="{{ imagesPerPage }}">
                    <div
                        class="columns is-multiline"
                        data-admin--asset-collection-target="imageCollection"
                        data-common--lazyload-target="collection">
                    </div>
                    <div
                        class="app-loader"
                        data-common--lazyload-target="loader">
                    </div>
                </div>
                <div
                    class="tab-content columns is-multiline"
                    data-target="documents"
                    data-admin--asset-collection-target="documentCollection">
                    {% for document in documents %}
                        {{ include('admin/assets/_frame.html.twig', {asset: document, type: 'document'}) }}
                    {% endfor %}
                </div>
            </div>
        </div>
        {{
            include(
                'common/_confirmation_dialog.html.twig',
                {
                    controller: 'admin--asset-collection',
                    title: 'Attention !'|trans,
                    message: 'Êtes-vous sûr de vouloir supprimer ce média ?'|trans,
                    token: csrf_token('asset_delete'),
                    controllerAction: 'admin--asset-collection#confirm',
                    confirmationMessage: 'Supprimer'|trans,
                }
            )
        }}
    </section>
{% endblock %}
