@use "../vendors/bulma";

.figure {
    margin: 30px 0;
    text-align: center;
}

.figcaption {
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
}

.paragraph {
    b {
        color: bulma.$primary;
    }

    a {
        border-bottom: 1px dotted bulma.$primary;
    }
}

 .subtitle {
     text-align: left;
 }
