.image-wrap-text {
    textarea {
        width: 100%;
        height: 100%;
        resize: vertical;
    }
    // .codex-editor {
    //     font-size: 0.75em;

    //     .codex-editor__redactor {
    //         padding-bottom: 25px!important;
    //     }
    // }
}
