// .add-button {
//     height: 200px;
//     border: 1px solid grey;
//     border-radius: 5px;
//     font-size: 4rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     cursor: pointer;
// }
// .image-grid-image {
//     max-width: 100%;
//     height: auto;
// }
.image-grid-image-container {
    position: relative;

    .image-grid-delete {
        position: absolute;
        right: 15px;
        top: 15px;
        transition: all 0.5s ease;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        color: white;
        font-size: 1em;
        padding: 5px;
        cursor: pointer;

        background-color: transparent;
        color: white;
        font-size: 1.3rem;
        border: none;

        &:hover {
            background-color: #ff00003b;
            color: white;
            width: calc(100% - 30px);
            height: calc(100% - 30px);
            font-size: 3em;
        }
    }
}
