@import "~bulma/sass/utilities/_all";

.image-preview {
    border: 4px solid transparent;
    img {
        width: 128px;
        height: 128px;
    }

    &.selected {
        border-color: $primary;
    }
}

.editor-image {
    text-align: center;

    img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }
}

.editor-image-wrapper {
    &.is-edit {
        border: 1px solid $grey;
        border-radius: 3px;
        padding: 10px;
    }

    .caption {
        width: 100%;
        padding: 10px;
        font-style: italic;
        font-size: 0.9em;
        color: $grey;
        text-align: center;
    }
}
