<nav
    class="navbar is-fixed-top has-shadow"
    role="navigation"
    data-controller="common--burger"
    aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ path('page_home') }}">
            <img src="{{ asset('/uploads/assets/' ~ config_getter.get.siteLogo) }}">
        </a>

        <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-action="click->common--burger#toggleMenu"
            data-common--burger-target="burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div
        data-common--burger-target="menu"
        class="navbar-menu">
        <div class="navbar-start">
            {{ menu|menu|raw }}
            <a class="navbar-item"
               href="{{ path('contact') }}">
                {% trans %}Contact{% endtrans %}
            </a>
        </div>
    </div>
</nav>
