// @use "../foundation/colors";

// @mixin link {
//     border-bottom: 3px solid colors.$primary;
//     padding-bottom: 1px;
// }

// @mixin link-hoverable {
//     min-width: 2%;
//     transition: all 0.6s ease;
//     display: inline-block;

//     &:hover {
//         min-width: 100%;
//     }
// }
