@use "../vendors/bulma";

.navbar-item {
    text-transform: uppercase;
    z-index: 2;
}

.navbar-dropdown {
    font-size: 1rem;
    left: 12px;

    .navbar-item {
        text-transform: none;
    }
}

@media (min-width: bulma.$desktop) {
    .navbar-item.has-dropdown {
        &:hover .navbar-link {
            color: white;

            &::after {
                border-color: white;
            }
        }
    }
}
