@use "../../vendors/bulma";

.editor-action-button {
    height: 75px;
    width: 75px;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    z-index: 2;
    color: white;
    background-color: bulma.$info;

    &.is-small {
        height: 50px;
        width: 50px;
        font-size: 1.2em;
    }
}
