@use "../../vendors/bulma";

.editor-action-container {
    position: absolute;
    height: 100%;
    z-index: 10;
    transform: translateX(-100%);
    transition: all 0.2s ease;

    .editor-action-button {
        border: 1px solid bulma.$info;
        border-top: 0;
    }

    &.is-active {
        transform: none;

        .editor-action__content {
            // box-shadow: 0 0 5px $info;
        }

        .editor-action-button {
            background-color:white;
            color: bulma.$info;
            border-left-color: white;
        }
    }

    .editor-action__content {
        position: sticky;
        top: 52px;
        width: 300px;
    }

    .editor-action__buttons {
        position: absolute;
        top: 0;
        left: calc(100% - 1px);
    }

    .editor-action-panel {
        border: 1px solid bulma.$info;
        border-top: 0;
        border-left: 0;
        padding: 15px;
        background-color: #fff;
    }
}
