@use "../../abstracts/colors";
@import "~bulma/sass/utilities/derived-variables";

.page-title-container {
    text-align: center;
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-color: $dark;

    .page-header-crop-container {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .subtitle {
        position: relative;
        z-index: 1;
        width: 100%;
        color: white;
    }

    .editor-title-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        color: lightgray!important;
        width: 100%;
    }

    .page-header-actions {
        position: absolute;
        bottom: 0;
        right: 0;

        .editor-action-button {
            color: white;
            background-color: #00000073;

            &:hover {
                background-color: #000000b3;
            }
        }
        font-size: 2.7rem;
        text-shadow: 0 0 3px $dark;
    }

    input {
        border: none;
        background-color: transparent;
    }
}
