.ce-settings {
    left: -1px;
}

.ce-block {
    margin: 30px 0;
}

.codex-editor__redactor {
    font-size: 1.3em;
}

.ce-block__content {
    max-width: none;
}

.ce-toolbar__content {
    max-width: none;
}

.page-edition {
    max-width: 800px;
    margin: 0 auto;
}
