<div class="modal is-active" data-controller="common--modal" data-common--modal-target="modal">
    <div class="modal-background" data-action="click->common--modal#close"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{% trans %}Message de{% endtrans %} {{ contact.name }}</p>
            <button class="delete" data-action="click->common--modal#close" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="block">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-at"></i>
                    </span>
                    <span><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></span>
                </span>
            </div>
            <div class="block">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-clock"></i>
                    </span>
                    <span>Le {{ contact.createdAt|date('d/m/Y') }} à {{ contact.createdAt|date('H:i') }}</span>
                </span>
            </div>
            <p class="block">{{ contact.message|nl2br }}</p>
            <div class="block">
                <div class="field has-addons are-small buttons">
                    <p class="control">
                        <a class="button is-primary"
                           href="mailto:{{ contact.email }}">
                            <span class="icon is-small">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span>{% trans %}Répondre{% endtrans %}</span>
                        </a>
                    </p>
                    <p class="control">
                        <button class="button is-danger"
                                data-action="admin-contact#delete"
                                data-url="{{ path('admin_contact_delete', {'id': contact.id}) }}">
                            <span class="icon is-small">
                                <i class="fas fa-trash"></i>
                            </span>
                            <span>{% trans %}Supprimer{% endtrans %}</span>
                        </button>
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
