{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}Messages reçus{% endtrans %}{% endblock %}

{% block main %}
    <div class="section"
         data-controller="admin--contact">
        <div class="container">
            <h1 class="title is-1">{% trans %}Messages reçus{% endtrans %}</h1>
            <div class="block">
                <table class="table is-fullwidth is-striped is-hoverable">
                    <thead>
                        <tr>
                            <th>Nom du contact</th>
                            <th>Email du contact</th>
                            <th>Aperçu du message</th>
                            <th>Date</th>
                            <th>
                                <span class="icon">
                                    <i class="fas fa-eye"></i>
                                </span>
                                /
                                <span class="icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in contacts %}
                            <tr data-contact-id="{{ contact.id }}" class="can-be-deleted">
                                <td>{{ contact.name }}</td>
                                <td>{{ contact.email }}</td>
                                <td>{{ contact.message|length > 50 ? contact.message|slice(0, 50) ~ "..." : contact.message  }}</td>
                                <td>{{ contact.createdAt|date('d/m/Y') }}</td>
                                <td>
                                    <div class="field has-addons are-small buttons">
                                        <p class="control">
                                            <button class="button is-primary"
                                                    data-action="admin--contact#show"
                                                    data-url="{{ path('admin_contact_show', {'id': contact.id}) }}">
                                                <span class="icon is-small">
                                                    <i class="fas fa-eye"></i>
                                                </span>
                                                <span>{% trans %}Voir{% endtrans %}</span>
                                            </button>
                                        </p>
                                        <p class="control">
                                            <button class="button is-danger"
                                                    data-action="admin--contact#delete"
                                                    data-url="{{ path('admin_contact_delete', {'id': contact.id}) }}">
                                                <span class="icon is-small">
                                                    <i class="fas fa-trash"></i>
                                                </span>
                                                <span>{% trans %}Supprimer{% endtrans %}</span>
                                            </button>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div data-admin--contact-target="preview">
        </div>
        {{
            include(
                'common/_confirmation_dialog.html.twig',
                {
                    controller: 'admin--contact',
                    title: 'Attention !'|trans,
                    message: 'Êtes-vous sûr de vouloir supprimer ce message ?'|trans,
                    token: csrf_token('message_delete'),
                    controllerAction: 'admin--contact#confirm',
                    confirmationMessage: 'Supprimer'|trans,
                }
            )
        }}
    </div>
{% endblock %}
