.footer {
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;

    .copyright {
        font-size: 0.8em;

        * {
            text-transform: none;
        }
    }

    .simple-link {
        color: white;
        border-color: white;
    }
}
